<div class="login-form-container">
  <form nz-form [formGroup]="loginForm" class="login-form" (ngSubmit)="login()">

    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your email!">
        <nz-input-group nzPrefixIcon="mail">
          <input type="email" nz-input formControlName="email" placeholder="email" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>


    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your Password!">
        <nz-input-group nzPrefixIcon="lock">
          <input type="password" nz-input formControlName="password" placeholder="Password" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <button [disabled]="loginForm.invalid" nz-button class="login-form-button login-form-margin" [nzType]="'primary'">Login</button>
    Already a member?
    <a routerLink="/register">register now!</a>
  </form>
</div>
