<div class="dashboard-container">
  @for (car of cars; track car.id) {
    <div class="car-container">

      <div class="car-img-container">
        <img [src]="car.processedImage" alt="car image" width="220" height="160" />
      </div>

      <div class="car-info-container">
        <div class="car-name-info-container">
          <div>
            <h2>{{car.brand}} - {{car.name}}</h2>
            <p>{{car.description}}</p>
          </div>
          <div class="delete-btn-container">
            <button nz-button nzType="primary" nzSize="small"  routerLink="/customer/book/{{car.id}}">Book this car</button>
          </div>
        </div>

        <div class="car-details-container">
          <h5>Price: <b>{{car.price}}</b> - Color: <b>{{car.color}}</b> - Transmission: <b>{{car.transmission}}</b>
            - Type: <b>{{car.type}}</b> - Year: <b>{{car.year | date: 'yyyy'}}</b></h5>
        </div>

      </div>
    </div>
  } @empty {
    <h3>Empty list of cars...</h3>
  }
</div>
