.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 42px;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.car-container {
  display: flex;
  gap: 26px;
  align-items: center;
  margin-bottom: 42px;
  justify-content: center;
}

.car-img-container img {
  border-radius: 12px;
}

.car-name-info-container {
  display: flex;
  justify-content: space-between;
}

.car-name-info-container > div > h2 {
  margin-bottom: 0;
  color: royalblue;
  cursor: pointer;
}

.car-details-container {
  padding: 12px 0;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

.car-details-container h5 {
  margin: 0;
}

.form-container {
  width: 100%;
}

.post-car-form > * {
  margin-bottom: 12px;
}
