<div class="main-container">
  <nz-table #basicTable [nzData]="bookings" [nzPageSize]="20" [nzShowPagination]="'false'">
    <thead>
      <tr>
        <th style="font-weight: bold; color: #003973;">Username</th>
        <th style="font-weight: bold; color: #003973;">Email</th>
        <th style="font-weight: bold; color: #003973;">From date</th>
        <th style="font-weight: bold; color: #003973;">To date</th>
        <th style="font-weight: bold; color: #003973;">Days</th>
        <th style="font-weight: bold; color: #003973;">Price</th>
        <th style="font-weight: bold; color: #003973;">Status</th>
        <th style="font-weight: bold; color: #003973;">Action</th>
      </tr>
    </thead>
    <tbody>
      @for (booking of basicTable.data; track booking.id) {
        <tr>
          <td>{{booking.username}}</td>
          <td>{{booking.email}}</td>
          <td>{{booking.fromDate | date : 'MMM d, y'}}</td>
          <td>{{booking.toDate | date : 'MMM d, y'}}</td>
          <td>{{booking.days}}</td>
          <td>{{booking.price}}</td>

          <td>
            <strong [ngStyle]="{'color': booking.bookCarStatus === 'APPROVED' ? 'green' : booking.bookCarStatus === 'REJECTED' ? 'red' : 'blue'}">
              {{booking.bookCarStatus}}
            </strong>
          </td>

          <td>
            @if (booking.bookCarStatus == 'PENDING') {
              <span>
              <button nzSize="small" nz-button nzType="primary" (click)="changeBookingStatus(booking.id, 'Approve')">Approve</button>
              <button nzSize="small" nz-button nzType="primary" (click)="changeBookingStatus(booking.id, 'Reject')" nzDanger>Reject</button>
            </span>
            }
          </td>
        </tr>
      } @empty {
        Empty list of bookings
      }
    </tbody>
  </nz-table>
</div>
